<!doctype html>
<html ng-app="movieApp" ng-cloak>

<head>
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="./dist/main.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Poppins:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <div ng-controller="AppController">
        <div class="bs-example">
            <nav class=" navbar navbar-expand-lg navbar-dark" style="background-color: #032541;padding-left:50px;">
                <a class="navbar-brand" ng-click="onMainClick()">
                    <img src="./assets/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg"
                        height="20 vh" alt="" loading="lazy" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a ng-click="onMainClick()" class="nav-item nav-link active">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-item nav-link active">TV Shows</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-item nav-link active">More</a>
                        </li>
                    </ul>
                </div>
            </nav>       
        </div>
        
        <ng-view></ng-view>

        <footer>
            <h3>The Movie DB</h3>
          </footer>
    </div>
    <script src="./app.js"></script>
    <script src="./dist/main.js"></script>

</body>

</html>