<div>
    <div class="display-flex padding-left" >
        <h3 style="margin-right: 20px">Trending</h3>
        <toggle-button text1="{{trendingText1}}" text2="{{trendingText2}}"
            ontoggleclick="onToggleTrendingChange(clickValue)" />
    </div>
    <div class="scrolling-wrapper-container">
        <div class="scrolling-wrapper row flex-row flex-nowrap horizontal-card-wrapper ">
            <div ng-repeat="item in trendingData">
                <movie-tv-vertical-card ng-click="onTrendingItemClick(item.id)" title="{{item.title}}"
                    releasedate="{{item.realeseDate}}" posterpath="{{item.posterPath}}" />
            </div>
        </div>
    </div>
</div>